/* ESTILOS GENÉRICOS */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
    --color0: rgb(255, 255, 255);
    --color1: rgb(44, 44, 44);
    --color2: grey;
    --color3: yellow;

    --fuente1:"fuente1";
    --fuente2:"fuente2";
    --fuente3:"fuente3";

    font-family: var(--fuente2);
}

.boton{
    background-color: var(--color0);

    padding: .5rem 5rem;
    border-radius: 1rem;
    border: .1px solid var(--color1);

    font-size: 1.2rem;
    transition: 5ms;

    user-select: none;

    cursor:pointer;
}
@media screen and (max-widht:540px){
    .boton{
        background-color: var(--color3);
        font-size: 1rem;
    }
}
.boton:hover{
    border-color: var(--color0);
    background-color: var(--color1);
    color: var(--color0);
    transition: 2ms;
}
.boton:active{
    transform: scale(0.9);
    transition: 0.1s;
}


/* Variable y carga de fuentes */


/* Estilos web */

@font-face {
    font-family: "fuente1";
    src: url("../fonts/Oswald/static/Oswald-SemiBold.ttf");
}
@font-face {
    font-family: "fuente2";
    src: url("/assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}
@font-face {
    font-family: "fuente3";
    src: url("../fonts/Spline_Sans_Mono/static/SplineSansMono-Regular.ttf");
}



/* Estilos del nap */



/* Estilos del header */

header{
    transform: translateY(80px);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/header_2560.jpg");

}
header .contenedor {
    margin-top:12vh;
    margin-left: 2rem;

    width: 700px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 2px;

    font-family: var(--fuente1);
    color: var(--color0);

    user-select: none;

}
header .contenedor :nth-child(1){
    font-size: 5vw;
    line-height: 6vw;
}
header .contenedor :nth-child(2){
    font-size: 3.2vw;
    line-height: 3vw;
}
header .contenedor :nth-child(3){
    font-size: 7.9vw;
    line-height: 6.4vw;
}
header .contenedor :nth-child(4){
    font-size: 2.56vw;
    line-height: 3.8vw;
}
header .contenedor :nth-child(5){
    font-size: 5.2vw;
    line-height: 3.2vw
}
header .contenedor :nth-child(6){
    font-size: 3.9vw;
    line-height: 4.9vw;
}
header .contenedor :nth-child(7){
    font-size: 10.8vw;
    line-height: 7vw;
}
header .contenedor :nth-child(8){
    font-size: 1.2vw;
    line-height: 6vw;
}



h1{
    font-family: var(--fuente1);
    font-size: 1.4rem;
    color: var(--color1);
}
h2{
    font-size: 1.8rem;
    color: var(--color2);
    font-weight: 100;
    margin-top: 4rem;
}
@media only screen and (max-width:540px) {
    h2{
        padding: 0 1rem;
    }
}
h3{
    width: 100%;
    font-family: var(--fuente2);
    font-size: 2rem;
    color: var(--color1);
    font-weight: 100;
    text-align: left;
}
h4{ 
    font-size: 1.2rem;
    font-family: var(--fuente3);
    color: var(--color2);
    font-weight: 100;
    letter-spacing: 3px;
}
p{
    font-size: 1.1rem;
    letter-spacing:  1px;
    line-height: 1.6rem;
}
@media only screen and (max-width:540px) {
  p{
    padding: 0 1rem;
  }  
}

#toggle, .contenedor_span {
    display:none;
}
nav{
    position: fixed;
    z-index: 100;
}

nav, header, main, footer{
    width: 100%;
    max-width: 2560px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

nav .sup{
    position: relative;

    width: 100%;
    height: 5vh;
    /* max-height: 40px; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--color0);
}

nav .sup img{
    height: 70px;
    position: absolute;
    z-index: 100;
    left: 1rem;
    top:0.5rem;
}
nav .inf{
    position: relative;

    width: 100%;
    height: 5vh;
    /* max-height: 40px; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: white;
}

nav .inf ul{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 4rem;
}

nav .inf ul a{    
   text-decoration: none;
   font-family: var(--fuente2);  
}
nav .inf a:visited{
    color: black;
}
nav .inf a:hover{
    color: orange;
    font-weight: bold;
}

@media only screen and (max-width:540px){
    .contenedor_span{
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 200;

        width: 30px;
        height: 30px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        cursor: pointer;
    }

    .contenedor_span span{
        width: 100%;
        height: 3px;
        background-color: var(--color1);
        transition: all 250ms ease-out;
        transform-origin: 0 0;
    }

    nav .sup{
        height: 10vh;
    }
    nav .inf{
        position: relative;
        align-items: flex-start;
        padding-top: 2rem;
        height: 90vh;
        background-color: var(--color0);
    }
    nav .inf ul{
        flex-direction: column;
        row-gap: 2rem;
    }
    nav .inf ul li a{
        font-size: 2rem;
    }  
    
    #toggle:checked ~ .contenedor_span span:nth-last-child(1){
        transform: rotate(-45deg) translate(-1px, 0px);
    }
    #toggle:checked ~ .contenedor_span span:nth-last-child(2){
        transform: rotate(0deg) scale(0.2, 0.2);
        opacity: 0;
    }
    #toggle:checked ~ .contenedor_span span:nth-last-child(3){
        transform: rotate(45deg) translate(0px, -1px);
    }
    #toggle:checked ~ nav .contenedor .inf{
        left: 0;
    }

}
    

/* MAIN */

/* SECCIÓN PRESENTACIÓN */
#sectPresentacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}
#sectPresentacion article{
    max-width: 1200px;
    width: 95%;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
}

#contenedorServicios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}
#contenedorServicios .servicios{
    width: 100%;
    max-width: 550px;
    min-width: 320px;
    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1rem;
}
#contenedorServicios .servicios .contenedor_foto{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
#contenedorServicios .servicios .contenedor_foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: saturate(0);
    transition: 1s;
}
#contenedorServicios .servicios .contenedor_foto img:hover{
   filter:saturate(1);
   transform: scale(1.2);
}

section, article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}
section{
    margin-top: 2rem;
    
}
article{
    margin-top: 1rem;
    row-gap: 1rem;
}

.anchoEstrecho{
    width: 95%;
}


/* SECCION ALBUM */
/* ARTICULO SLIDER */

#slider{
    width: 100%;
    height: 95vh;
    position: relative;
}
#slider :nth-child(1), #slider :nth-child(2){
    width: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
    cursor: pointer;
}
#slider :nth-child(1):hover, #slider :nth-child(2):hover{
    opacity: 1;
    filter: invert(28%) sepia(22%) saturate(1495%) hue-rotate(314deg)
    brightness(88%) contrast(97%)
}
    #slider :nth-child(1){
        left: 2rem;
    }
    #slider :nth-child(2){
        right: 2rem;
    }

    #slider :nth-child(3){
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media only screen and (max-width:540px){
        #slider :nth-child(1), #slider :nth-child(2){
            width: 96px;
        }  
        #slider :nth-child(1){
            left: 1rem;
        }
        #slider :nth-child(2){
            right: 1rem;
        }
    
    }


    
    #contenedorEquipo{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        column-gap: 2rem;
        flex-wrap: wrap;
    }
    .persona{
        width: 90%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 1rem;
    }

    .persona .imagen{
        width: 350px;
        height: 350px;
        position: relative;
    }

    .persona .imagen :nth-child(1){
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        transition: 1s;
    }

    .persona .imagen :nth-child(2){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(.7);
        border-radius: 50%;
        filter: sepia(1) opacity(.3);
        transition: 1s;
    }
    .persona .imagen :nth-child(2):hover{
        filter: sepia(0) opacity(.7);
        transition: 1s;
    }
    
    .persona .imagen :nth-child(1):hover{
        transform: rotate(40deg);
        transition: 1s;
    }

    /*estilos del footer*/
footer{
    width: 100%;
    background-color: var(--color1);
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
 
    padding: 2rem;
 
    color: var(--color0);
    font-family: var(--fuente3);
 
    row-gap: 2rem;
}
 
#contenedor_footer{
    width: 100%;
    max-width: 2560px;
    row-gap: 2rem;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
 
#logo_footer{
    width: 200px;
 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    object-fit: cover;
}
 
#contenedor_footer >:nth-child(2){
    width: 100%;
 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
 
#contenedor_footer >:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
 
    row-gap: 1rem;
}
 
.info_footer{
    width: 30%;
    min-width: 300px;
    height: 300px;
 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
 
    row-gap: 2rem;
}
 
#contenedor_footer .info_footer ul{
    list-style: none;
    row-gap: 1rem;
    padding-top: 1rem;
 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
 
    text-align: left;
}
 
#contenedor_footer .info_footer ul li a{
    color: var(--color0);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
 
    column-gap: 2rem;
}
 
#contenedor_footer .info_footer ul .iconos_contacto{
    width: 20px;
    filter: invert(1);
}
 
#contenedor_footer .info_footer ul a:hover{
    filter: invert(50%) sepia(33%) saturate(3300%) hue-rotate(300deg) brightness(95%) contrast(60%);
}
 
#contenedor_rrss{
    width: 100%;
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
 
    column-gap: 3rem;
}
 
#contenedor_rrss img{
    width: 50px;
}
 
footer h2{
    color: var(--color0);
}
 
footer h4{
    color: var(--color0);
}
 
#contenedor_form{
    width: 100%;
    max-width: 2560px;
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
 
    column-gap: 5rem;
}
 
#contenedor_form img{
    width: 300px;
}
 
#contenedor_form img:hover{
    transform: rotate(360deg);
    transition: 3s;
}
 
footer form{
    width: 40%;
    min-width: 320px;
    max-width: 800px;
 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 
    row-gap: 0.7rem;
}
 
footer form input,textarea{
    width: 100%;
}
 
textarea{
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 400px;
    min-height: 100px;
}
 
#boton_enviar{
    width: 10%;
    min-width: 160px;
}
#contenedor_form{
    background-color:var(--color1);
}
